{% extends "base.html" %}
{% block content %}
<h3>Posts</h3>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
  </tr>
  </thead>
  <tbody>
      {% for post in posts %}
          <tr scope="row">

              <td><a class="navbar-brand" href="/posts?post_id={{post['id']|int}}">{{post['title']}}</a></td>
              <td>{{post['user_info']['name']}}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
<a class="navbar-brand" href="/posts/create">Add Post</a>
{% endblock %}
